html,
body {
    background-color: #333333;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.875em; /* 14px/16=0.875em */
}

.Terminal {
    font-family: 'Lucida Console', Courier, monospace;
    font-size: 0.875em; /* 14px/16=0.875em */
    border-radius: 15px;
    padding: 10px;
}

.game-title {
    text-align:center;
    font-size: 1.875em;
    font-weight: bold;
    margin:auto;
    padding: 20px;
    width: 550px;
}

.screen {
    margin:auto;
    padding: 20px;
    width: 550px;
}

