html,
body {
    background-color: #333333;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.875em; /* 14px/16=0.875em */
}

.Terminal {
    font-family: 'Lucida Console', Courier, monospace;
    font-size: 1em; /* 14px/16=0.875em */
    border-radius: 15px;
}

.button {
    border: none;
    color: white;
    padding: 4px 8px;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.green-button {
    background-color: #333333;
    color: white;
    border: 2px solid #4CAF50;
}

.green-button:hover {
    background-color: #4CAF50;
    color: white;
}

.control {
    border: none;
    color: white;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 6px;
    transition-duration: 0.4s;
    cursor: pointer;
    height: 60px;
    width: 60px;
}

.green-control {
    background-color: #333333;
    color: white;
    border: 2px solid #4CAF50;
}

.green-control:hover {
    background-color: #4CAF50;
    color: white;
}

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}

/*.mobile-controls {*/
/*    display: none;*/
/*}*/

/*@media screen and (max-width: 768px) {*/
/*    .mobile-controls {*/
/*        display: block;*/
/*    }*/
/*}*/