<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name=viewport content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=yes">

    <title>Dungeon of Thordon</title>
	<link rel="stylesheet" type="text/css" href="static/style.css">
	<script src="static/terminal.js"></script>
	<script src="static/network.js"></script>
</head>
<body>

	<audio id="footstep">
		<source src="static/snd/footstep.mp3" type="audio/mpeg">
	</audio>

	<audio id="challenge-complete">
		<source src="static/snd/challenge-complete.mp3" type="audio/mpeg">
	</audio>

	<audio id="magic">
		<source src="static/snd/magic.mp3" type="audio/mpeg">
	</audio>

	<audio id="open-door">
		<source src="static/snd/open-door.mp3" type="audio/mpeg">
	</audio>

	<audio id="morning-star-trap">
		<source src="static/snd/morning-star-trap.mp3" type="audio/mpeg">
	</audio>

{#    <div style="display: grid; grid-template-columns: min-content min-content min-content;">#}
{##}
        {# Arrow Controls #}
{#            <table class="mobile-controls" style="height: 480px; padding: 40px;">#}
{#                <tr>#}
{#                    <td></td>#}
{#                    <td style="vertical-align: bottom;"><button id="up_button" class="control green-control" onclick="mobileButtonPushed('w')">&uarr;</button></td>#}
{#                    <td></td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td style="text-align: right;"><button id="left_button" class="control green-control" onclick="mobileButtonPushed(e)">&larr;</button></td>#}
{#                    <td></td>#}
{#                    <td style="text-align: left;"><button id="right_button" class="control green-control" onclick="mobileButtonPushed(e)">&rarr;</button></td>#}
{#                </tr>#}
{#            </table>#}

        {# Main Screen & Console #}
        <div style="width: 550px; display: grid; grid-template-columns: min-content" class="center">
            <div id="title" style="text-align:center; font-size: 1.875em; font-weight: bold; margin:auto; width: 550px;">
                DЦИGΞФИ ФF ΓHФЯDФИ
            </div>
            <pre id="screen" style="margin:auto; width: 550px;"></pre>
            <div style="width: 550px;">
                <button class="button green-button" onclick="endGame();">End Game</button>
                &nbsp;&nbsp;&nbsp;&nbsp;
                v[{{ last_updated }}] UTC
            </div>
        </div>
{##}
        {# Select, Cancel Controls #}
{#        <table class="mobile-controls" style="height: 480px; padding: 40px;">#}
{#            <tr>#}
{#                <td><button id="a_button" class="control green-control" onclick="mobileButtonPushed(e)">A</button></td>#}
{#                <td><button id="b_button" class="control green-control" onclick="mobileButtonPushed(e)">B</button></td>#}
{#            </tr>#}
{#        </table>#}
{##}
{#    </div>#}

	<script>
		const term = new Terminal('terminal');
		term.setHeight("420px");
		term.setWidth('550px');
		term.setBackgroundColor('black');
		term.setTextColor('green');
		term.blinkingCursor(false);
		document.getElementById('screen').appendChild(term.html);

		connect(term, '/api/v1/game/action/start')

	</script>

</body>
</html>