<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>

    <title>Dungeon of Thordon</title>
	<link rel="stylesheet" type="text/css" href="static/style.css">
	<script src="static/terminal.js"></script>
	<script src="static/network.js"></script>
</head>
<body>

	<audio id="footstep">
		<source src="static/snds/footstep.mp3" type="audio/mpeg">
		Your browser does not support the audio element.
	</audio>

	<div id="title" style="text-align:center; font-size: 1.875em; font-weight: bold; margin:auto; padding: 20px; width: 690px;">
		DЦИGΞФИ ФF ΓHФЯDФИ
	</div>

	<pre id="screen" style="margin:auto; padding: 20px; width: 690px;"></pre>

	<script>
		const term = new Terminal('terminal');
		term.setHeight("600px");
		term.setWidth('690px');
		term.setBackgroundColor('black');
		term.setTextColor('green');
		term.blinkingCursor(false);
		document.getElementById('screen').appendChild(term.html);

		connect(term, '/api/v1/game/action/start')

	</script>
	<div style="text-align:right; font-style: italic;">({{ last_updated }})</div>

</body>
</html>