html,
body {
    background-color: #2E2E2E;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.875em; /* 14px/16=0.875em */
    zoom: 100%
}

.Terminal {
    font-family: 'Lucida Console', Courier, monospace;
    font-size: 1em; /* 14px/16=0.875em */
    font-weight: bold;
    border-radius: 15px;
    border: 2px solid green;
}

#modal {
    display: none;
    height: 460px;
    width: 400px;
    border-radius: 15px;
    border: 2px solid green;
    padding: 6px;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    top: 50px;
    left: 20%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,1); /* Black w/ opacity */
}

#canvas {
    height: 400px;
    width: 400px;
}

.control {
    color: white;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 6px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid green;
}

.control:hover {
    background-color: green;
    color: white;
}

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}